extends layout

block content
  h1= title

  if graphicsCard
    div
      h2 Graphics Card Details
      p Name: #{graphicsCard.name}
      p Brand: #{graphicsCard.brand}
      p Memory: #{graphicsCard.memory}
      p Memory Type: #{graphicsCard.memoryType}
      p Interface: #{graphicsCard.interface}
      p Price: ₹#{graphicsCard.price}
  else
    p Graphics Card not found

  //- a(href=`/catalog/graphicscard/${graphicsCard._id}/delete`) Delete
  hr
  p
    a(href=`${graphicsCard.url}/delete`) Delete Graphics Card
  
    p
    a(href=`${graphicsCard.url}/update`) Update Graphics Card
