extends layout

block content
  h1= title

  if mb
    div
      h2 Motherboard Specs
      img(src=`/catalog/${mb.picture}`, alt=`${mb.name}` style='width: 500px; heights:300px;')      
      p Name: #{mb.name}
      p Brand: #{mb.brand}
      p Socket Type: #{mb.socketType}
      p Form Factor: #{mb.formFactor}
      p Price: #{mb.price}      
  else
    p Motherboard not found

  hr
  p
    a(href=`${mb.url}/delete`) Delete Motherboard
  
    p
    a(href=`${mb.url}/update`) Update Motherboard