extends layout

block content
  h1= title

  if psufound
    div
      h2 Power-Supply Specs
      img(src=`/catalog/${psufound.picture}`, alt=`${psufound.name}` style='width: 500px; heights:300px;')
      p Name: #{psufound.name}
      p Brand: #{psufound.brand}
      p Wattage: #{psufound.wattage}
      p Efficiency Rating: #{psufound.efficiencyRating}
      p Modular: #{psufound.modular}
      p Price: #{psufound.price}      
  else
    p Motherboard not found

  hr
  p
    a(href=`${psufound.url}/delete`) Delete Power Supply
  
  p
    a(href=`${psufound.url}/update`) Update PSU
